
.button {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none; 
    padding: 16px 32px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 1.2em;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--light-bg);
    transform: translateY(-3px);
}

/* Modal Styli