
.sidebar {
    width: 250px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 5px var(--primary-color);
    transition: right 0.3s ease;
    z-index: 1000;
    border-right: 2px solid var(--primary-color);
}

.sidebar.active {
    right: 0;
}

.close-menu {
    background: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: var(--secondary-color);
    font-size: 1.2em;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a i {
    margin-right: 10px;
    line-height: 1;
}

.sidebar nav ul li a:hover {
    color: var(--secondary-color);
}
